body {
  background-color: #1a1a1a;
  color: #e8ecef;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.btn {
  background-color: #222222;
  color: #e8ecef;
}

.myhvr:hover {
  color: #6daceb;
}

.card {
  background-color: #222222;
  color: #e8ecef;
  border-radius: 1rem;
}

.jumbotron {
  background-color: #1a1a1a;
}

.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #222222;
  border-radius: 1rem;
}
